@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    background: rgba(235, 76, 110, 0.301);
}
.navbar-menu ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
.navbar-menu ul li{
    font-size: 18px;
}